.ChartContainer {
    margin-top: 1rem;
}

.questionContainer {
    background: rgba(darken($primary-color, 15), 0.2);
    display: flex;
    flex-direction: column;
}

.markAnswer {
    margin: 2rem;
    font-size: larger;
    color: white;
    text-align: center;
}

#Fragenblock {
    margin: 0.5rem;
    background-color: green;
}

#PlaceholderFrage {
    font-size: x-large;
    color: white;
    text-align: left;
    padding: 0;
}


.answerPoss {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.leftyAnswer {
    width: auto;
    margin: 10px;
    justify-content: left;
    font-size: large;
}

.button {
    width: 50%;
    color: black;
    font-size: 1rem;
    border: 3px #fff solid;
    padding: 15px 32px;
    margin-top: 20px;
    margin-bottom: 2rem;
    transition: all 0.5s ease-out;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: dodgerblue;
    border: none;
}

.button:hover {
    padding: 0.5rem 1.5rem;
    background: rgb(0, 106, 211);
    color: white;
    border-color: black;
}

.button1 {
    border-radius: 12px;
}